<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <Assest/ src="../adminAssest/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="admin_landingPage">
                        <i class="fas fa-tachometer-alt" style='font-size:24px'></i>Dashboard</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <!-- <li>
                            <a href="index.html">Dashboard 1</a>
                        </li>
                        <li>
                            <a href="index2.html">Dashboard 2</a>
                        </li>
                        <li>
                            <a href="index3.html">Dashboard 3</a>
                        </li>
                        <li>
                            <a href="index4.html">Dashboard 4</a>
                        </li> -->
                    </ul>
                </li>
                <li>
                    <a href="admin_chartData">
                        <i class="fas fa-chart-bar" style='font-size:24px'></i>Charts</a>
                </li>
                <li>
                    <a href="#">
                        <i class='fas fa-comment' style='font-size:24px'></i>User Feedback</a>
                </li>
                <li>
                    <a href="admin_displayData">
                        <i class="fas fa-table" style='font-size:24px'></i>User Data Tables</a>
                </li>
                <!-- <li>
                    <a href="#">
                        <i class='fab fa-blogger-b' style='font-size:24px'></i>
                        Blog
                    </a>
                    
                </li> -->

                <li>
                    <a href="admin_teacherData">
                        <i class='fas fa-sticky-note' style='font-size:24px'></i>Add Teacher</a>
                </li>

                <li>
                    <a href="admin_sliderData">
                        <i class='fas fa-sticky-note' style='font-size:24px'></i>Add Slider</a>
                </li>

                <li>
                    <a href="admin_addNotesData">
                        <i class='fas fa-sticky-note' style='font-size:24px'></i>Add Course</a>
                </li>
                <!-- <li>
                    <a href="calendar.html">
                        <i class="fas fa-calendar-alt"></i>Calendar</a>
                </li> -->
                <!-- <li>
                    <a href="map.html">
                        <i class="fas fa-map-marker-alt"></i>Maps</a>
                </li> -->
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fa fa-send" style="font-size:24px"></i>Sent Notes Data</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                       
                        <li>
                            <a href="file1_courseDataAPI">
                                
                                <i class="fa fa-send" style="font-size:24px;color:aqua"></i> Sent Notes
                            
                            </a>

                        </li>
                       
                    </ul>
                </li>

                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class='fab fa-blogger-b' style='font-size:24px'></i>Blog</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                       
                        <li>
                            <a href="admin_currentEventData">
                                
                                <i class="fa fa-calendar" style="font-size:24px;color:brown"></i>Current Event
                            
                            </a>

                        </li>

                        <li>
                            <a href="admin_currentpostBlogData">
                                
                                <i class="fa fa-calendar" style="font-size:24px;color:rgb(255, 128, 38)"></i>Current Post Blog
                            
                            </a>

                        </li>

                        <li>
                            <a href="admin_recentPostData">
                                
                                <i class="fa fa-calendar" style="font-size:24px;color:rgb(64, 11, 189)"></i>Recent Post
                            
                            </a>

                        </li>
                        

                        
                       
                    </ul>
                </li>
                <!-- <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-desktop"></i>UI Elements</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="button.html">Button</a>
                        </li>
                        <li>
                            <a href="badge.html">Badges</a>
                        </li>
                        <li>
                            <a href="tab.html">Tabs</a>
                        </li>
                        <li>
                            <a href="card.html">Cards</a>
                        </li>
                        <li>
                            <a href="alert.html">Alerts</a>
                        </li>
                        <li>
                            <a href="progress-bar.html">Progress Bars</a>
                        </li>
                        <li>
                            <a href="modal.html">Modals</a>
                        </li>
                        <li>
                            <a href="switch.html">Switchs</a>
                        </li>
                        <li>
                            <a href="grid.html">Grids</a>
                        </li>
                        <li>
                            <a href="fontawesome.html">Fontawesome Icon</a>
                        </li>
                        <li>
                            <a href="typo.html">Typography</a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </nav>
    </div>
</aside>