<!DOCTYPE html>
<html lang="en">
<!-- Head start -->
<%-include('userHead')%>
<!-- Head end -->
<body>
<!-- Topbar Start -->
<div class="container-fluid d-none d-lg-block">
  <div class="row align-items-center py-4 px-xl-5">
      <div class="col-lg-3">
          <a href="" class="text-decoration-none">
              <h1 class="m-0"><span class="text-primary">E</span>COURSES</h1>
          </a>
      </div>
      <div class="col-lg-3 text-right">
          <div class="d-inline-flex align-items-center">
              <i class="fa fa-2x fa-map-marker-alt text-primary mr-3"></i>
              <div class="text-left">
                  <h6 class="font-weight-semi-bold mb-1">Our Office</h6>
                  <small>123 Street, New York, USA</small>
              </div>
          </div>
      </div>
      <div class="col-lg-3 text-right">
          <div class="d-inline-flex align-items-center">
              <i class="fa fa-2x fa-envelope text-primary mr-3"></i>
              <div class="text-left">
                  <h6 class="font-weight-semi-bold mb-1">Email Us</h6>
                  <small>info@example.com</small>
              </div>
          </div>
      </div>
      <div class="col-lg-3 text-right">
          <div class="d-inline-flex align-items-center">
              <i class="fa fa-2x fa-phone text-primary mr-3"></i>
              <div class="text-left">
                  <h6 class="font-weight-semi-bold mb-1">Call Us</h6>
                  <small>+012 345 6789</small>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->  
<%-include('userNavbar')%>
<!-- Navbar End -->
<!-- Header Start -->
<div class="container-fluid page-header" style="margin-bottom: 90px;">
  <div class="container">
      <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
          <h3 class="display-4 text-white text-uppercase">Teachers</h3>
          <div class="d-inline-flex text-white">
              <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
              <i class="fa fa-angle-double-right pt-1 px-3"></i>
              <p class="m-0 text-uppercase">Teachers</p>
          </div>
      </div>
  </div>
</div>
<!-- Header End -->
<!--Teachers part-->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Teachers</h5>
            <h1>Meet Our Teachers</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="Assest/img/team-1.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Jhon Doe</h5>
                        <p class="m-0">Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="Assest/img/team-2.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Jhon Doe</h5>
                        <p class="m-0">Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="Assest/img/team-3.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Jhon Doe</h5>
                        <p class="m-0">Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="Assest/img/team-4.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>Jhon Doe</h5>
                        <p class="m-0">Web Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Start -->
<%-include('userFooter')%>
<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

</body>
</html>